<!-- Mobile Nav Component  -->
 
<div class="sticky z-10 top-0 flex lg:hidden items-center justify-between px-6 h-15 bg-primary-black shadow-md">
    <img x-show="expandSideMenu" x-transition x-cloak src="../assets/images/creditswitchlogo.png" alt="Creditswitch Logo" class="h-9 object-contain" />
    <button class="flex cursor-pointer text-primary-sidebar-gray-text" @click="showSideBar = !showSideBar; expandSideMenu = true">
        <svg class="w-9 h-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.2">
            <line x1="6" y1="18" x2="14" y2="18" stroke-linecap="round"/>
            <line x1="4" y1="12" x2="20" y2="12" stroke-linecap="round"/>
            <line x1="6" y1="6" x2="18" y2="6" stroke-linecap="round"/>
        </svg>
    </button>
</div>

