@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --font-roboto: "Roboto", Helvetica, Arial, sans-serif;
  --font-poppins: "Poppins", sans-serif;
  
  /* ====== BLACKS ====== */
  --color-black-base: #201f2b;
  --color-black-header-text: #434349;
  --color-black-input-text: #495057;
  --color-black-muted: #333;

  /* ====== GRAYS ====== */
  --color-gray-soft: #999; 
  --color-gray-login-header: #2C3136;
  --color-gray-login-text: #9C9C9C;
  --color-gray-header: #959cb6;
  --color-gray-header-bg: #eaecf2;
  --color-gray-dashboard-bg: #eeeeee;
  --color-gray-header-bold: #646c9a;
  --color-gray-footer-text: #a7abc3;
  --color-gray-sidebar-text: #d2d2d6;
  --color-gray-sidebar-bg: #f2f3f8;
  --color-gray-input-text: #a7abd1;
  --color-gray-muted-text: #73818f;
  --color-gray-table-dark: #3c4858;
  --color-gray-disabled-btn: #808080;
  --color-gray-filtered: #6c7293;
  --color-gray-table-header: #464457;
  --color-gray-charcoal: #212529;
  --color-gray-bluish-dark: #282a3c;
  --color-gray-graphite: #434345;
  --color-gray-muted-blue: #7C8A8F;
  --color-gray-light-blue: #F4F5F8;
  --color-gray-cool-light: #E0E0E1;

  /* ====== BLUES ====== */
  --color-blue-text-accent: #2c77f4;
  --color-blue-input-border: #669cf7;
  --color-blue-slate: #5867DD;
  --color-blue-royal: #2E40D4;
  --color-blue-link-secondary: #3429A3FF;
  --color-blue-periwinkle: #B5BFE1;
  --color-blue-periwinkle-light: #B8C7F6;
  --color-blue-royal-vivid: #3E60DC;
  --color-blue-lavender-light: #CFD9F9;

  /* ====== CYANS ====== */
  --color-cyan-sidebar-bg: #05b0c5;
  --color-cyan-pie-bg: #5bc0de;
  --color-cyan-button-bg: #0fb7cb;
  --color-cyan-bg-light: #26C6DA;
  --color-cyan-bg-dark: #00ACC1;

  /* ====== GOLDS / ORANGES ====== */
  --color-gold-bg-light: #ffa726;
  --color-gold-bg-dark: #fb8c00;
  --color-gold-accent: #ffb822;
  --color-orange-warning: #FF9800;

  /* ====== GREENS ====== */
  --color-green-accent: #49a749;
  --color-green-soft: #1dc9b7;
  --color-green-deep: #28a745;

  /* ====== REDS / PINKS ====== */
  --color-red-soft: #dc3545;
  --color-red-warning: #fd397a;
  --color-red-crimson: #b00;
  --color-red-dark: #c22;
  --color-red-true: #FF0000;
  --color-red-warm: #da6557;
  --color-pink-wine-light: #ec407a;
  --color-pink-wine-dark: #d81b60;

  --text-tiny: 0.69rem;
  --text-small: 0.85rem;
}

[x-cloak] {
display: none !important;
}

.cyanBlue-custom-background-gradient {
  background: linear-gradient(60deg, var(--color-cyan-bg-light), var(--color-cyan-bg-dark));
}

.blue-custom-background-gradient {
  background: linear-gradient(60deg, #4084bd, #186fb9);
}

.wine-custom-background-gradient {
  background: linear-gradient(60deg, var(--color-pink-wine-light), var(--color-pink-wine-dark));
}

.green-custom-background-gradient {
  background: linear-gradient(60deg, #66bb6a, #43a047);
}

.gold-custom-background-gradient {
  background: linear-gradient(60deg, var(--color-gold-bg-light), var(--color-gold-bg-dark));
}

.cyanBlue-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, 0.14) 0px 4px 20px 0px, rgba(0, 188, 212, 0.4) 0px 7px 10px -5px;
}

.wine-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, .14) 0 4px 20px 0, rgba(233, 30, 99, .4) 0 7px 10px -5px;
}

.gold-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, .14) 0 4px 20px 0, rgba(255, 152, 0, .4) 0 7px 10px -5px;
}

.green-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, .14) 0 4px 20px 0,rgba(76, 175, 80, .4) 0 7px 10px -5px;
}

.blue-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, .14) 0 4px 20px 0,rgba(54, 69, 244, 0.4) 0 7px 10px -5px;
}

.sidebar-scroll {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebar-scroll::-webkit-scrollbar {
    display: none;
}