@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --font-roboto: "Roboto", Helvetica, Arial, sans-serif;
  
  /* Black  Colors  */
  --color-primary-black: #201f2b;
  --color-primary-header-black-text: #434349;
  --color-primary-input-black-text: #495057;
  --color-primary-black-text-muted: #333;

  /* Gray Colors */
   --color-primary-gray: #999;
   --color-primary-login-gray-header: #2C3136;
   --color-primary-login-gray-text: #9C9C9C;
  --color-primary-header-gray-text: #959cb6;
  --color-primary-header-gray-background: #eaecf2;
  --color-primary-dashboard-background: #eeeeee;
  --color-primary-header-gray-bold: #646c9a; /*Also the same as boldGrey */
  --color-primary-footer-gray-text: #a7abc3; /*Also the same as dullGrey */
  --color-primary-sidebar-gray-text: #d2d2d6;
  --color-primary-sidebar-gray-background: #f2f3f8;
  --color-primary-input-gray-text: #a7abd1;
  --color-primary-gray-text-muted: #73818f;
  --color-primary-table-gray-dark: #3c4858;
  --color-primary-disabled-report-button: #808080;
  --color-primary-filtered-options: #6c7293;

  /* Blue Colors */
  --color-primary-blue-text: #2c77f4;
  --color-primary-inputBorder-blue: #669cf7;
  --color-primary-cyanBlue-sidebar-background: #05b0c5;
  --color-primary-cyanBlue-button-background: #0fb7cb;
  --color-primary-cyanBlue-background-light: #26C6DA;
  --color-primary-cyanBlue-background-dark: #00ACC1;
  --color-primary-slateBlue: #5867DD;
  --color-primary-royalBlue: #2E40D4;
  --color-secondary-linkColour: #3429A3FF;

  --color-primary-gold-background-light: #ffa726;
  --color-primary-gold-background-dark: #fb8c00;
  --color-primary-gold-light: #ffb822;

  --color-primary-green: #49a749;
  --color-primary-green-light: #1dc9b7;
  --color-primary-green-dark: #28a745;

 /* --color-primary-red: #e23d34; */
  --color-primary-red: #dc3545;
  --color-primary-danger: #fd397a;
  --color-primary-wine-background-light: #ec407a;
  --color-primary-wine-background-dark: #d81b60;
  --color-primary-darkRed: #CC2222;

  --text-tiny: 0.7rem;
  --text-small: 0.85rem;
}

[x-cloak] {
display: none !important;
}

.cyanBlue-custom-background-gradient {
  background: linear-gradient(60deg, var(--color-primary-cyanBlue-background-light), var(--color-primary-cyanBlue-background-dark));
}

.wine-custom-background-gradient {
  background: linear-gradient(60deg, var(--color-primary-wine-background-light), var(--color-primary-wine-background-dark));
}

.green-custom-background-gradient {
  background: linear-gradient(60deg, #66bb6a, #43a047);
}

.gold-custom-background-gradient {
  background: linear-gradient(60deg, var(--color-primary-gold-background-light), var(--color-primary-gold-background-dark));
}

.cyanBlue-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, 0.14) 0px 4px 20px 0px, rgba(0, 188, 212, 0.4) 0px 7px 10px -5px;
}

.wine-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, .14) 0 4px 20px 0, rgba(233, 30, 99, .4) 0 7px 10px -5px;
}

.gold-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, .14) 0 4px 20px 0, rgba(255, 152, 0, .4) 0 7px 10px -5px;
}

.green-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, .14) 0 4px 20px 0,rgba(76, 175, 80, .4) 0 7px 10px -5px;
}

.sidebar-scroll {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebar-scroll::-webkit-scrollbar {
    display: none;
}