@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --font-roboto: "Roboto", Helvetica, Arial, sans-serif;
  --font-poppins: "Poppins", sans-serif;
  
  /* ====== BLACKS ====== */
  --color-black-base: #201f2b; /* old: --color-primary-black */
  --color-black-header-text: #434349; /* old: --color-primary-header-black-text */
  --color-black-input-text: #495057; /* old: --color-primary-input-black-text */
  --color-black-muted: #333; /* old: --color-primary-black-text-muted */

  /* ====== GRAYS ====== */
  --color-gray-soft: #999; /* old: --color-primary-gray */
  --color-gray-login-header: #2C3136; /* old: --color-primary-login-gray-header */
  --color-gray-login-text: #9C9C9C; /* old: --color-primary-login-gray-text */
  --color-gray-header: #959cb6; /* old: --color-primary-header-gray-text */
  --color-gray-header-bg: #eaecf2; /* old: --color-primary-header-gray-background */
  --color-gray-dashboard-bg: #eeeeee; /* old: --color-primary-dashboard-background */
  --color-gray-header-bold: #646c9a; /* old: --color-primary-header-gray-bold */
  --color-gray-footer-text: #a7abc3; /* old: --color-primary-footer-gray-text */
  --color-gray-sidebar-text: #d2d2d6; /* old: --color-primary-sidebar-gray-text */
  --color-gray-sidebar-bg: #f2f3f8; /* old: --color-primary-sidebar-gray-background */
  --color-gray-input-text: #a7abd1; /* old: --color-primary-input-gray-text */
  --color-gray-muted-text: #73818f; /* old: --color-primary-gray-text-muted */
  --color-gray-table-dark: #3c4858; /* old: --color-primary-table-gray-dark */
  --color-gray-disabled-btn: #808080; /* old: --color-primary-disabled-report-button */
  --color-gray-filtered: #6c7293; /* old: --color-primary-filtered-options */
  --color-gray-table-header: #464457; /* old: --color-primary-table-header */
  --color-gray-charcoal: #212529; /* old: --color-primary-dark-gray */
  --color-gray-bluish-dark: #282a3c; /* old: --color-primary-bluishGray-dark */
  --color-gray-graphite: #434345; /* old: --color-primary-graphiteGray-dark */
  --color-gray-muted-blue: #7C8A8F; /* old: --color-primary-grayishBlue-muted */
  --color-gray-light-blue: #F4F5F8; /* old: --color-primary-grayishBlue-light */
  --color-gray-cool-light: #E0E0E1; /* old: --color-primary-coolGray-light */

  /* ====== BLUES ====== */
  --color-blue-text-accent: #2c77f4; /* old: --color-primary-blue-text */
  --color-blue-input-border: #669cf7; /* old: --color-primary-inputBorder-blue */
  --color-blue-slate: #5867DD; /* old: --color-primary-slateBlue */
  --color-blue-royal: #2E40D4; /* old: --color-primary-royalBlue */
  --color-blue-link-secondary: #3429A3FF; /* old: --color-secondary-linkColour */
  --color-blue-periwinkle: #B5BFE1; /* old: --color-perinwinkleBlue-light */
  --color-blue-periwinkle-light: #B8C7F6; /* old: --color-perinwinkleBlue-veryLight */
  --color-blue-royal-vivid: #3E60DC; /* old: --color-primary-royalBlue-vivid */
  --color-blue-lavender-light: #CFD9F9; /* old: --color-primary-lavenderBlue-light */

  /* ====== CYANS ====== */
  --color-cyan-sidebar-bg: #05b0c5; /* old: --color-primary-cyanBlue-sidebar-background */
  --color-cyan-pie-bg: #5bc0de; /* old: --color-primary-cyanBlue-pieChart-background */
  --color-cyan-button-bg: #0fb7cb; /* old: --color-primary-cyanBlue-button-background */
  --color-cyan-bg-light: #26C6DA; /* old: --color-primary-cyanBlue-background-light */
  --color-cyan-bg-dark: #00ACC1; /* old: --color-primary-cyanBlue-background-dark */

  /* ====== GOLDS / ORANGES ====== */
  --color-gold-bg-light: #ffa726; /* old: --color-primary-gold-background-light */
  --color-gold-bg-dark: #fb8c00; /* old: --color-primary-gold-background-dark */
  --color-gold-accent: #ffb822; /* old: --color-primary-gold-light */
  --color-orange-warning: #FF9800; /* old: --color-primary-warning */

  /* ====== GREENS ====== */
  --color-green-accent: #49a749; /* old: --color-primary-green */
  --color-green-soft: #1dc9b7; /* old: --color-primary-green-light */
  --color-green-deep: #28a745; /* old: --color-primary-green-dark */

  /* ====== REDS / PINKS ====== */
  --color-red-soft: #dc3545; /* old: --color-primary-red */
  --color-red-warning: #fd397a; /* old: --color-primary-danger */
  --color-red-crimson: #b00; /* old: --color-primary-crimson */
  --color-red-dark: #c22; /* old: --color-primary-darkRed */
  --color-red-true: #FF0000; /* old: --color-primary-properRed */
  --color-red-warm: #da6557; /* old: --color-primary-reddishOrange */
  --color-pink-wine-light: #ec407a; /* old: --color-primary-wine-background-light */
  --color-pink-wine-dark: #d81b60; /* old: --color-primary-wine-background-dark */

  --text-tiny: 0.69rem;
  --text-small: 0.85rem;
}

[x-cloak] {
display: none !important;
}

.cyanBlue-custom-background-gradient {
  background: linear-gradient(60deg, var(--color-cyan-bg-light), var(--color-cyan-bg-dark));
}

.blue-custom-background-gradient {
  background: linear-gradient(60deg, #4084bd, #186fb9);
}

.wine-custom-background-gradient {
  background: linear-gradient(60deg, var(--color-pink-wine-light), var(--color-pink-wine-dark));
}

.green-custom-background-gradient {
  background: linear-gradient(60deg, #66bb6a, #43a047);
}

.gold-custom-background-gradient {
  background: linear-gradient(60deg, var(--color-gold-bg-light), var(--color-gold-bg-dark));
}

.cyanBlue-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, 0.14) 0px 4px 20px 0px, rgba(0, 188, 212, 0.4) 0px 7px 10px -5px;
}

.wine-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, .14) 0 4px 20px 0, rgba(233, 30, 99, .4) 0 7px 10px -5px;
}

.gold-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, .14) 0 4px 20px 0, rgba(255, 152, 0, .4) 0 7px 10px -5px;
}

.green-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, .14) 0 4px 20px 0,rgba(76, 175, 80, .4) 0 7px 10px -5px;
}

.blue-custom-box-shadow {
  box-shadow:rgba(0, 0, 0, .14) 0 4px 20px 0,rgba(54, 69, 244, 0.4) 0 7px 10px -5px;
}

.sidebar-scroll {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebar-scroll::-webkit-scrollbar {
    display: none;
}