@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-primary-black: #0d0c22;
  --color-primary-grey: #9C9C9C;
  --color-primary-red: #dc3545;
  --color-secondary-link: #3743c2;
}